# Variáveis de ambiente para o backend

# MongoDB
MONGODB_URI=mongodb+srv://navaycompany_db_user:***@cluster0.mongodb.net/boleto_pago?retryWrites=true&w=majority

# JWT
JWT_SECRET=a73be41832ebe29d2d623a393895b9b1ea21fb91bcad89be1b54a19ef3fd6721abe9a2d75dfda4c07e8f3c1e975b6bc57f163812f8ff8804d89894f70ec6bfdc

# Servidor
PORT=777

# Frontend (URL do Lovable)
FRONTEND_URL=https://boleto-pago-azul.lovable.app/

# Configurações CORS
CORS_ORIGIN=https://boleto-pago-azul.lovable.app
